sftp-config.json
uploads/*
!uploads/.keep
catalog/*
!catalog/.keep
languages/
wp-config.php
*.mp4
Thumbs.db
package-lock.json
!package.json
node_modules/*
node_modules/
.sass-cache/*
.sass-cache/
src/*
dist/*
/memo.txt
.htaccess
*.yml
dev/filelist.txt
filelist.txt
# assets/video/*
assets/images/*
master/**/img/*
master/**/img/**/*
develop/**/img/*
develop/**/img/**/*
staging/**/img/*
staging/**/img/**/*
staging/Page/issue/LP/old_issue88/*