@use "./common/settings";

@use "./common/l" as landing-page_l;
@use "./common/s" as landing-page_s;
@use "./common/reset" as reset;


// @font-face {
//   font-family: '小塚ゴシック Pr6N';
//   src: url("/fonts/KozGoPr6N-Regular.otf") format("opentype");
// }

html,
body {
  font-size: 62.5%;
}

body {
  margin: 0;
}

#landing_content {
  overflow: visible;
  contain: paint;

  // --color1: #000;
  // --color2: #fff;
}


@include reset.reset;

@media screen and (min-width: 768px) {
  @include landing-page_l.landing-page;
}

@media screen and (max-width: 767px) {
  @include landing-page_s.landing-page;
}