.landing_page_sticky {
  --color1: #000;
  --color2: #fff;
  --color3: #FEF9EF;
  --color4: #C3CDD0;
}

@media screen and (min-width: 768px) {
  .landing_page_sticky {
    overflow: visible;
    contain: paint;
  }
  .landing_page_sticky .js-fadeIn,
  .landing_page_sticky .js-groupFadeIn {
    opacity: 0;
    transition: ease-in, opacity 2s;
  }
  .landing_page_sticky .js-fadeIn.js-delay1,
  .landing_page_sticky .js-groupFadeIn.js-delay1 {
    transition-delay: 0.5s;
  }
  .landing_page_sticky .js-fadeIn.js-delay2,
  .landing_page_sticky .js-groupFadeIn.js-delay2 {
    transition-delay: 0.8s;
  }
  .landing_page_sticky .js-fadeIn--active,
  .landing_page_sticky .js-groupFadeIn--active {
    opacity: 1;
  }
  .landing_page_sticky img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  .landing_page_sticky .css-mainvisual {
    background-color: var(--common-color1);
    z-index: 1;
  }
  .landing_page_sticky .css-mainvisual .css-main_headline {
    text-align: center;
  }
  .landing_page_sticky .css-mainvisual .css-mainvisual_wrapper {
    padding-bottom: 5rem;
    aspect-ratio: 1400/1000;
  }
  .landing_page_sticky .css-mainvisual .css-main_text {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 2rem;
  }
  .landing_page_sticky .css-mainvisual .css-mainvisual_image {
    width: calc(100% * 300 / 1400);
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .landing_page_sticky .css-mainvisual .css-history {
    width: calc(100% * 600 / 1400);
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .landing_page_sticky .css-mainvisual .css-history h3 {
    font-size: 1.6rem;
    text-align: left;
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea {
    margin-top: 3rem;
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl:not(:first-of-type) {
    margin-top: 2rem;
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl dt {
    font-size: 1.6rem;
    text-align: left;
    width: 10rem;
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl dd {
    font-size: 1.6rem;
    text-align: left;
  }
  .landing_page_sticky .css-section {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--common-color1);
  }
  .landing_page_sticky .css-section .css-section_wrapper {
    margin: 0 auto;
    position: relative;
    width: calc(100% * 1100 / 1400);
    max-width: 110rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-sticky {
    position: sticky;
    top: 0;
    width: 45%;
    top: 10rem;
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-sticky .css-headline {
    display: inline-block;
    top: 0;
    left: 0;
    font-size: 1.6rem;
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-image_area {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 5rem;
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-image_area .css-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .landing_page_sticky .css-section .css-credit {
    position: relative;
    text-align: left;
    z-index: 5;
    margin-top: 3rem;
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
  }
  .landing_page_sticky .css-section1 {
    background-color: var(--common-color1);
    width: 100%;
    z-index: 2;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section1 .css-section_wrapper {
    aspect-ratio: 1400/1510;
  }
  .landing_page_sticky .css-section2 {
    background-color: var(--common-color1);
    z-index: 3;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section2 .css-section_wrapper {
    aspect-ratio: 1400/730;
  }
  .landing_page_sticky .css-section2 .css-section_wrapper .css-sticky {
    order: 2;
  }
  .landing_page_sticky .css-section2 .css-section_wrapper .css-image_area {
    order: 1;
    align-items: self-end;
  }
  .landing_page_sticky .css-section3 {
    background-color: var(--common-color1);
    z-index: 4;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section3 .css-section_wrapper {
    aspect-ratio: 1400/770;
  }
  .landing_page_sticky .css-section3 .css-section_wrapper .css-sticky {
    order: 1;
  }
  .landing_page_sticky .css-section3 .css-section_wrapper .css-image_area {
    order: 2;
  }
  .landing_page_sticky .css-section4 {
    background-color: var(--common-color1);
    z-index: 5;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section4 .css-section_wrapper .css-sticky {
    order: 2;
  }
  .landing_page_sticky .css-section4 .css-section_wrapper .css-image_area {
    order: 1;
    align-items: self-end;
  }
  .landing_page_sticky .css-section5 {
    background-color: var(--common-color1);
    z-index: 5;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section5 .css-section_wrapper .css-sticky {
    order: 1;
  }
  .landing_page_sticky .css-section5 .css-section_wrapper .css-image_area {
    position: sticky;
    top: 3rem;
    order: 2;
  }
  .landing_page_sticky .css-footer-content {
    width: 100%;
    background-color: var(--color2);
    padding: 2rem 0;
  }
  .landing_page_sticky .css-footer-content .css-back_link a {
    display: block;
    margin: 0 auto;
    width: 30rem;
    padding: 1rem;
    background-color: var(--common-color3);
    text-align: center;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  .js-fadeIn,
  .js-groupFadeIn {
    opacity: 0;
    transition: ease-in, opacity 2s;
  }
  .js-fadeIn.js-delay1,
  .js-groupFadeIn.js-delay1 {
    transition-delay: 0.5s;
  }
  .js-fadeIn.js-delay2,
  .js-groupFadeIn.js-delay2 {
    transition-delay: 0.8s;
  }
  .js-fadeIn--active,
  .js-groupFadeIn--active {
    opacity: 1;
  }
  .landing_page_sticky {
    overflow: visible;
    contain: paint;
  }
  .landing_page_sticky .js-fadeIn,
  .landing_page_sticky .js-groupFadeIn {
    opacity: 0;
    transition: ease-in, opacity 2s;
  }
  .landing_page_sticky .js-fadeIn.js-delay1,
  .landing_page_sticky .js-groupFadeIn.js-delay1 {
    transition-delay: 0.5s;
  }
  .landing_page_sticky .js-fadeIn.js-delay2,
  .landing_page_sticky .js-groupFadeIn.js-delay2 {
    transition-delay: 0.8s;
  }
  .landing_page_sticky .js-fadeIn--active,
  .landing_page_sticky .js-groupFadeIn--active {
    opacity: 1;
  }
  .landing_page_sticky .l-view {
    display: none !important;
  }
  .landing_page_sticky img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  .landing_page_sticky .css-mainvisual {
    background-color: var(--common-color1);
    z-index: 1;
  }
  .landing_page_sticky .css-mainvisual .css-mainvisual_wrapper {
    padding-bottom: calc(100 * 100vw / 750);
    aspect-ratio: 750/2200;
  }
  .landing_page_sticky .css-mainvisual .css-main_headline {
    text-align: center;
  }
  .landing_page_sticky .css-mainvisual .css-main_text {
    text-align: center;
    font-size: calc(26 * 100vw / 750);
    margin-top: calc(50 * 100vw / 750);
  }
  .landing_page_sticky .css-mainvisual .css-mainvisual_image {
    width: calc(650 * 100vw / 750);
    margin: 0 auto;
    margin-top: calc(30 * 100vw / 750);
  }
  .landing_page_sticky .css-mainvisual .css-history {
    width: calc(700 * 100vw / 750);
    margin: 0 auto;
    margin-top: calc(50 * 100vw / 750);
  }
  .landing_page_sticky .css-mainvisual .css-history h3 {
    font-size: calc(26 * 100vw / 750);
    text-align: left;
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea {
    margin-top: calc(30 * 100vw / 750);
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: calc(20 * 100vw / 750);
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl:not(:first-of-type) {
    margin-top: calc(20 * 100vw / 750);
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl dt {
    font-size: calc(26 * 100vw / 750);
    text-align: left;
    width: 10rem;
  }
  .landing_page_sticky .css-mainvisual .css-history .css-history_textarea dl dd {
    font-size: calc(26 * 100vw / 750);
    text-align: left;
  }
  .landing_page_sticky .css-section {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--common-color1);
  }
  .landing_page_sticky .css-section .css-section_wrapper {
    margin: 0 auto;
    position: relative;
    width: calc(700 * 100vw / 750);
    padding-top: calc(50 * 100vw / 750);
    padding-bottom: calc(50 * 100vw / 750);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-sticky {
    position: sticky;
    top: 0;
    width: calc(440 * 100vw / 750);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-sticky .css-headline {
    position: sticky;
    display: block;
    width: 100%;
    top: calc(10 * 100vw / 750);
    left: 0;
    font-size: calc(26 * 100vw / 750);
    z-index: 10;
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-image_area {
    width: calc(210 * 100vw / 750);
    position: sticky;
    top: calc(20 * 100vw / 750);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    row-gap: calc(50 * 100vw / 750);
  }
  .landing_page_sticky .css-section .css-section_wrapper .css-image_area .css-image {
    width: 100%;
  }
  .landing_page_sticky .css-section .css-credit {
    position: relative;
    text-align: left;
    z-index: 5;
    margin-top: calc(30 * 100vw / 750);
    display: inline-block;
    font-size: calc(26 * 100vw / 750);
    color: #fff;
  }
  .landing_page_sticky .css-section1 {
    background-color: var(--common-color1);
    width: 100%;
    z-index: 2;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section2 {
    background-color: var(--common-color1);
    z-index: 3;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section3 {
    background-color: var(--common-color1);
    z-index: 4;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section4 {
    background-color: var(--common-color1);
    z-index: 5;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-section5 {
    background-color: var(--common-color1);
    z-index: 6;
    border-top: solid 1px var(--color4);
  }
  .landing_page_sticky .css-footer-content {
    width: 100%;
    background-color: var(--color2);
    padding: calc(90 * 100vw / 750) 0;
  }
  .landing_page_sticky .css-footer-content .css-back_link a {
    margin: 0 auto;
    display: block;
    width: calc(600 * 100vw / 750);
    padding: calc(10 * 100vw / 750);
    background-color: var(--common-color3);
    text-align: center;
    font-size: calc(26 * 100vw / 750);
  }
}