@charset "UTF-8";
html,
body {
  font-size: 62.5%;
  font-family: 游ゴシック体, 游ゴシック Medium, Yu Gothic Medium, Yu Gothic, YuGothic, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
}

body {
  margin: 0;
  --common-color1: #272727;
  --common-color2: #fff;
  --common-color3: #f13932;
  --common-color4: #000;
}

body {
  background-color: var(--common-color1);
}
body p,
body a,
body span,
body dd {
  color: var(--common-color2);
  word-break: break-all;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body dt {
  color: var(--common-color2);
  word-break: break-all;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  background-color: var(--common-color3);
  -webkit-filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.6));
}
body a {
  opacity: 1;
  transition: opacity 0.5s;
}
body a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 1%;
  }
  h1 {
    font-size: 2.6rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: calc(10 * 100vw / 750);
  }
  h1 {
    font-size: calc(36 * 100vw / 750);
    font-weight: bold;
  }
  h2 {
    font-size: calc(32 * 100vw / 750);
    font-weight: bold;
  }
}