html,
body {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.landing_content_scroll {
  --color1: #333333;
  --color2: #fff;
  --color3: #FAEDCE;
}

.js-scroll_lock {
  overflow: hidden;
}

@media (max-width: 1400px) and (min-width: 768px) {
  html {
    font-size: calc(10 * 100vw / 1280);
  }
}
@media screen and (min-width: 768px) {
  .s-view {
    display: none !important;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-15%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(15%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translate3d(0, 15%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .landing_content .js-fadeIn,
  .landing_content .js-fadeInLeft,
  .landing_content .js-fadeInRight,
  .landing_content .js-fadeInBottom {
    opacity: 0;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  .landing_content .js-fadeInGroupFirst {
    opacity: 0;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  .landing_content .js-fadeInGroup {
    opacity: 0;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .landing_content .js-fadeIn--active,
  .landing_content .js-fadeInGroupFirst--active,
  .landing_content .js-fadeInGroup--active {
    animation-name: fadeIn;
  }
  .landing_content .js-fadeInLeft--active {
    animation-name: fadeInLeft;
  }
  .landing_content .js-fadeInRight--active {
    animation-name: fadeInRight;
  }
  .landing_content .js-fadeInBottom--active {
    animation-name: fadeInBottom;
  }
  body,
  html {
    overflow: hidden;
    contain: paint;
  }
  .bredlist.lp {
    margin: 0;
  }
  .container {
    height: 100vh;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .landing_content_scroll img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  .landing_content_scroll .css-firstview {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing_content_scroll .css-firstview img {
    object-fit: cover;
  }
  .landing_content_scroll .css-firstview--image {
    width: 100%;
    height: 100%;
  }
  .landing_content_scroll .css-firstview .css-text {
    position: absolute;
    font-size: 3rem;
  }
  .landing_content_scroll .horizontal-container {
    position: relative;
    scroll-snap-align: start;
    overflow: visible;
    contain: paint;
  }
  .landing_content_scroll .horizontal-container_rapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
  }
  .landing_content_scroll .css-title {
    position: absolute;
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-style: normal;
    font-size: 0.9rem;
    line-height: 1.2rem;
    letter-spacing: 0em;
    left: 0;
    top: 0.5%;
  }
  .landing_content_scroll .css-logo {
    position: absolute;
    width: 17.8rem;
    aspect-ratio: 178/21.74;
    left: 0;
    top: 31.4%;
  }
  .landing_content_scroll .css-slide_content {
    background-color: #fff;
    position: absolute;
    width: calc(1200 / 1280 * 100%);
  }
  .landing_content_scroll .css-slide_content .js-slide {
    position: absolute;
    height: 100%;
    aspect-ratio: 540/720;
    left: 0%;
    bottom: -0.2rem;
    transition: all 1.5s;
    transform-origin: left bottom;
    opacity: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .landing_content_scroll .css-slide_content .js-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  .landing_content_scroll .css-slide_content .js-slide.js-current {
    opacity: 1;
    transform: scale(1);
  }
  .landing_content_scroll .css-slide_content .js-slide.js-next {
    transition: all 0.8s;
    opacity: 1;
    transform: scale(0.278) translateX(0%) translateY(0%);
  }
  .landing_content_scroll .css-slide_content .js-slide.js-prev_next {
    opacity: 0;
    transform: scale(0.278) translateX(-140%) translateY(0%);
  }
  .landing_content_scroll .css-slide_content .js-slide.js-prev {
    opacity: 0;
    transition: all 0.5s;
  }
  .landing_content_scroll .css-slide_content .css-credit {
    position: absolute;
    top: 38.4%;
    left: 4.1%;
    transform-origin: left top;
    opacity: 0;
    z-index: -1;
  }
  .landing_content_scroll .css-slide_content .css-credit.js-active {
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 2;
  }
  .landing_content_scroll .css-slide_content .css-credit .css-credit_link,
  .landing_content_scroll .css-slide_content .css-credit .css-slash {
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0em;
  }
  .landing_content_scroll .css-slide_content .css-credit .css-slash + .css-credit_link,
  .landing_content_scroll .css-slide_content .css-credit .css-credit_link + .css-slash {
    margin-left: 0rem;
  }
  .landing_content_scroll .css-slide_content .css-page_num {
    position: absolute;
    top: 38.4%;
    left: 0;
  }
  .landing_content_scroll .css-slide_content .css-page_num--count, .landing_content_scroll .css-slide_content .css-page_num--max {
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0em;
  }
  .landing_content_scroll .dummy {
    position: relative;
    height: 1000vw;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .landing_content_scroll .css-footer {
    scroll-snap-align: start;
    height: 38.6rem;
  }
  .landing_content_scroll .css-footer__wrapper {
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 9.7rem;
  }
  .landing_content_scroll .css-check_all {
    display: block;
    width: calc(299.66 / 1280 * 100%);
    min-width: 29.966rem;
    aspect-ratio: 299.66/34.66;
    margin: 0 auto;
    position: relative;
    top: -1.3rem;
  }
  .landing_content_scroll .css-staff_text {
    display: block;
    margin: 0 auto;
    margin-top: 1.9rem;
    position: relative;
    left: -1.2rem;
  }
  .landing_content_scroll .css-staff_text .css-text {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.1rem;
    letter-spacing: 0em;
    font-feature-settings: "palt";
  }
  .landing_content_scroll .css-staff_text .css-text + .css-text {
    position: relative;
    margin-top: 0.1rem;
  }
}
@media screen and (max-width: 767px) {
  .l-view {
    display: none !important;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-15%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(15%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translate3d(0, 15%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .landing_content .js-fadeIn,
  .landing_content .js-fadeInLeft,
  .landing_content .js-fadeInRight,
  .landing_content .js-fadeInBottom {
    opacity: 0;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  .landing_content .js-fadeInGroupFirst {
    opacity: 0;
    animation-delay: 0.3s;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  .landing_content .js-fadeInGroup {
    opacity: 0;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .landing_content .js-fadeIn--active,
  .landing_content .js-fadeInGroup--active,
  .landing_content .js-fadeInGroupFirst--active {
    animation-name: fadeIn;
  }
  .landing_content .js-fadeInLeft--active {
    animation-name: fadeInLeft;
  }
  .landing_content .js-fadeInRight--active {
    animation-name: fadeInRight;
  }
  .landing_content .js-fadeInBottom--active {
    animation-name: fadeInBottom;
  }
  .container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .bredlist.lp {
    display: none;
  }
  .main-area .main-inner {
    margin: 0 auto;
    width: 100%;
  }
  .landing_content_scroll {
    overflow-x: hidden;
  }
  .landing_content_scroll img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  .landing_content_scroll img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  .landing_content_scroll .css-firstview {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    overflow: hidden;
  }
  .landing_content_scroll .css-firstview img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  .landing_content_scroll .css-firstview .css-text {
    position: absolute;
    font-size: calc(30 * 100vw / 375);
  }
  .landing_content_scroll .horizontal-container {
    position: relative;
    scroll-snap-align: start;
    overflow: visible;
    contain: paint;
  }
  .landing_content_scroll .horizontal-container_rapper {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
  }
  .landing_content_scroll .css-title {
    display: none;
  }
  .landing_content_scroll .css-logo {
    display: none;
  }
  .landing_content_scroll .css-slide_content {
    background-color: #fff;
    position: absolute;
    width: calc(355 * 100vw / 375);
    height: 97.3333333333dvh;
    top: calc(10 * 100svw / 375);
    left: 0;
    right: 0;
    margin: auto;
  }
  .landing_content_scroll .css-slide_content .js-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: calc(355 * 100vw / 375);
    aspect-ratio: 355/473.33;
    right: 0;
    top: 0;
    transition: all 1.5s;
    transform-origin: right bottom;
    opacity: 0;
  }
  .landing_content_scroll .css-slide_content .js-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  .landing_content_scroll .css-slide_content .js-slide.js-current {
    opacity: 1;
    transform: scale(1);
  }
  .landing_content_scroll .css-slide_content .js-slide.js-next {
    opacity: 1;
    transform: scale(0.18);
  }
  .landing_content_scroll .css-slide_content .js-slide.js-prev_next {
    opacity: 0;
    transform: scale(0.18);
  }
  .landing_content_scroll .css-slide_content .js-slide.js-prev {
    opacity: 0;
    transition: all 0.5s;
  }
  .landing_content_scroll .css-slide_content .css-credit {
    position: absolute;
    top: calc(476 * 100vw / 375);
    left: 0;
    transform-origin: left top;
    opacity: 0;
    z-index: -1;
  }
  .landing_content_scroll .css-slide_content .css-credit.js-active {
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 2;
  }
  .landing_content_scroll .css-slide_content .css-credit .css-credit_link,
  .landing_content_scroll .css-slide_content .css-credit .css-slash {
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: calc(12 * 100vw / 375);
    line-height: calc(15 * 100vw / 375);
    letter-spacing: 0em;
  }
  .landing_content_scroll .css-slide_content .css-credit .css-slash + .css-credit_link,
  .landing_content_scroll .css-slide_content .css-credit .css-credit_link + .css-slash {
    margin-left: calc(0 * 100vw / 375);
  }
  .landing_content_scroll .css-slide_content .css-page_num {
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
  }
  .landing_content_scroll .css-slide_content .css-page_num--count, .landing_content_scroll .css-slide_content .css-page_num--max {
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: calc(12 * 100vw / 375);
    line-height: calc(15 * 100vw / 375);
    letter-spacing: 0em;
  }
  .landing_content_scroll .dummy {
    display: none;
    position: relative;
    height: 1000vw;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .landing_content_scroll .css-footer {
    scroll-snap-align: start;
    padding-top: calc(68 * 100vw / 375);
    padding-bottom: calc(159 * 100vw / 375);
  }
  .landing_content_scroll .css-check_all {
    display: block;
    width: calc(309.66 * 100vw / 375);
    aspect-ratio: 309.66/39.66;
    margin: 0 auto;
  }
  .landing_content_scroll .css-staff_text {
    margin: 0 auto;
    margin-top: calc(40 * 100vw / 375);
  }
  .landing_content_scroll .css-staff_text .css-text {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: calc(12 * 100vw / 375);
    font-style: italic;
    line-height: calc(15 * 100vw / 375);
    letter-spacing: 0em;
  }
  .landing_content_scroll .css-staff_text .css-text + .css-text {
    margin-top: calc(-1 * 100vw / 375);
  }
}