@use "./settings";
@use '../animation/animation_l' as animation;

$d-width: 1400;

@mixin landing-page {



  .landing_page_sticky {
    @include animation.mainAnimation;
    overflow: visible;
    contain: paint;


    img {
      width: 100%;
      height: auto;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
    }





    .css-mainvisual {
      background-color: var(--common-color1);
      z-index: 1;


      .css-main_headline {
        text-align: center;
      }

      .css-mainvisual_wrapper {
        padding-bottom: settings.get_rem(50);
        aspect-ratio: #{$d-width}/1000;
      }

      .css-main_text {
        text-align: center;
        font-size: settings.get_rem(24);
        margin-top: settings.get_rem(20);
      }

      .css-mainvisual_image {
        width: calc(#{100%} * #{300} / $d-width);
        max-width: settings.get_rem(300);
        // aspect-ratio: 2/4;
        margin: 0 auto;
        margin-top: settings.get_rem(20);
      }

      .css-history {
        width: calc(#{100%} * #{600} / $d-width);
        max-width: settings.get_rem(600);
        margin: 0 auto;
        margin-top: settings.get_rem(20);

        h3 {
          font-size: settings.get_rem(16);
          text-align: left;
        }

        .css-history_textarea {
          margin-top: settings.get_rem(30);

          dl {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:not(:first-of-type) {
              margin-top: settings.get_rem(20);
            }

            // row-gap: settings.get_rem(10);
            column-gap: settings.get_rem(20);

            dt {
              font-size: settings.get_rem(16);
              text-align: left;
              width: settings.get_rem(100);
            }

            dd {
              font-size: settings.get_rem(16);
              text-align: left;
            }
          }
        }
      }
    }

    .css-section {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: var(--common-color1);

      .css-section_wrapper {
        margin: 0 auto;
        position: relative;
        width: calc(#{100%} * #{1100} / $d-width);
        max-width: settings.get_rem(1100);
        padding-top: settings.get_rem(50);
        padding-bottom: settings.get_rem(50);

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        // row-gap: settings.get_rem(88);
        // column-gap: settings.get_rem(88);

        .css-sticky {
          position: sticky;
          top: 0;
          width: 45%;
          // margin-top: settings.get_rem(100);
          top: settings.get_rem(100);

          .css-headline {
            // position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            font-size: settings.get_rem(16);
          }
        }

        .css-image_area {
          width: 50%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          row-gap: settings.get_rem(50);

          .css-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            // max-width: settings.get_rem(500);
            // aspect-ratio: 500/700;
          }
        }


      }

      .css-credit {
        position: relative;
        text-align: left;
        z-index: 5;
        margin-top: settings.get_rem(30);

        display: inline-block;
        font-size: settings.get_rem(15);

        color: #fff;
      }
    }

    .css-section1 {
      background-color: var(--common-color1);
      width: 100%;
      z-index: 2;
      border-top: solid 1px var(--color4);

      .css-section_wrapper {
        aspect-ratio: #{$d-width}/1510;
      }
    }

    .css-section2 {
      background-color: var(--common-color1);
      z-index: 3;
      border-top: solid 1px var(--color4);

      .css-section_wrapper {
        aspect-ratio: #{$d-width}/730;

        .css-sticky {
          order: 2;
        }

        .css-image_area {
          order: 1;
          align-items: self-end;
        }
      }
    }

    .css-section3 {
      background-color: var(--common-color1);
      z-index: 4;
      border-top: solid 1px var(--color4);


      .css-section_wrapper {
        aspect-ratio: #{$d-width}/770;

        .css-sticky {
          order: 1;
        }

        .css-image_area {
          order: 2;
        }
      }
    }

    .css-section4 {
      background-color: var(--common-color1);
      z-index: 5;
      border-top: solid 1px var(--color4);

      .css-section_wrapper {

        .css-sticky {
          order: 2;
        }

        .css-image_area {
          order: 1;
          align-items: self-end;
        }

      }
    }

    .css-section5 {
      background-color: var(--common-color1);
      z-index: 5;
      border-top: solid 1px var(--color4);

      .css-section_wrapper {
        .css-sticky {
          order: 1;
        }

        .css-image_area {
          position: sticky;
          top: settings.get_rem(30);
          order: 2;
        }
      }
    }


    .css-footer-content {
      width: 100%;
      background-color: var(--color2);
      padding: settings.get_rem(20) 0;

      .css-back_link {
        a {
          display: block;
          margin: 0 auto;
          width: settings.get_rem(300);
          padding: settings.get_rem(10);
          background-color: var(--common-color3);
          text-align: center;
          font-size: settings.get_rem(16);
        }
      }
    }

  }
}