@use "./settings";
@use '../animation/animation_s' as animation;


$d-width: 750;
$dc-width: 680;

@mixin landing-page {
  @include animation.mainAnimation;



  .landing_page_sticky {
    @include animation.mainAnimation;
    overflow: visible;
    contain: paint;

    .l-view {
      display: none !important;
    }

    img {
      width: 100%;
      height: auto;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
    }



    .css-mainvisual {
      background-color: var(--common-color1);
      z-index: 1;
     
      .css-mainvisual_wrapper {
        padding-bottom: calc(100 *(#{100vw}/ #{$d-width}));
        aspect-ratio: #{$d-width}/2200;
      }

      .css-main_headline {
        text-align: center;
      }

      .css-main_text {
        text-align: center;
        font-size: calc(26 *(#{100vw}/ #{$d-width}));
        margin-top: calc(50 *(#{100vw}/ #{$d-width}));
      }


      .css-mainvisual_image {
        width: calc(650 *(#{100vw}/ #{$d-width}));
        margin: 0 auto;
        margin-top: calc(30 *(#{100vw}/ #{$d-width}));
      }

      .css-history {
        width: calc(700 *(#{100vw}/ #{$d-width}));
        margin: 0 auto;
        margin-top: calc(50 *(#{100vw}/ #{$d-width}));

        h3 {
          font-size: calc(26 *(#{100vw}/ #{$d-width}));
          text-align: left;
        }

        .css-history_textarea {
          margin-top: calc(30 *(#{100vw}/ #{$d-width}));

          dl {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:not(:first-of-type) {
              margin-top: calc(20 *(#{100vw}/ #{$d-width}));
            }

            // row-gap: settings.get_rem(10);
            column-gap: calc(20 *(#{100vw}/ #{$d-width}));

            dt {
              font-size: calc(26 *(#{100vw}/ #{$d-width}));
              text-align: left;
              width: settings.get_rem(100);
            }

            dd {
              font-size: calc(26 *(#{100vw}/ #{$d-width}));
              text-align: left;
            }
          }
        }
      }
    }

    .css-section {
      position: sticky;
      top: 0;
      width: 100%;
      background-color: var(--common-color1);
      // padding-bottom: calc(50 *(#{100vw}/ #{$d-width}));

      .css-section_wrapper {
        margin: 0 auto;
        position: relative;
        width: calc(700 *(#{100vw}/ #{$d-width}));
        padding-top: calc(50 *(#{100vw}/ #{$d-width}));
        padding-bottom: calc(50 *(#{100vw}/ #{$d-width}));
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .css-sticky {
          position: sticky;
          top: 0;
          width: calc(440 *(#{100vw}/ #{$d-width}));
          // height: 100svh;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column; // 縦並び

          .css-headline {
            position: sticky;
            display: block;
            width: 100%;
            top: calc(10 *(#{100vw}/ #{$d-width}));
            left: 0;
            font-size: calc(26 *(#{100vw}/ #{$d-width}));
            z-index: 10;
          }
        }

        .css-image_area {
          width: calc(210 *(#{100vw}/ #{$d-width}));
          position: sticky;
          top: calc(20 *(#{100vw}/ #{$d-width}));
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          row-gap: calc(50 *(#{100vw}/ #{$d-width}));

          .css-image {
            width: 100%;
          }
        }

      }

      .css-credit {
        position: relative;
        text-align: left;
        z-index: 5;
        margin-top: calc(30 *(#{100vw}/ #{$d-width}));

        display: inline-block;
        font-size: calc(26 *(#{100vw}/ #{$d-width}));

        color: #fff;
      }
    }

    .css-section1 {
      background-color: var(--common-color1);
      width: 100%;
      z-index: 2;
      border-top: solid 1px var(--color4);
    }

    .css-section2 {
      background-color: var(--common-color1);
      z-index: 3;
      border-top: solid 1px var(--color4);

    }

    .css-section3 {
      background-color: var(--common-color1);
      z-index: 4;
      border-top: solid 1px var(--color4);
    }

    .css-section4 {
      background-color: var(--common-color1);
      z-index: 5;
      border-top: solid 1px var(--color4);
    }

    .css-section5 {
      background-color: var(--common-color1);
      z-index: 6;
      border-top: solid 1px var(--color4);
    }

    .css-footer-content {
      width: 100%;
      // height: calc(869* 100vw / 750);
      background-color: var(--color2);
      padding: calc(90 *(#{100vw}/ #{$d-width})) 0;

      .css-back_link {


        a {
          margin: 0 auto;
          display: block;
          width: calc(600 *(#{100vw}/ #{$d-width}));
          padding: calc(10 *(#{100vw}/ #{$d-width}));
          background-color: var(--common-color3);
          text-align: center;
          font-size: calc(26 *(#{100vw}/ #{$d-width}));
        }
      }

    }
  }

}