@use "./settings";
@use '../animation/animation_s' as animation;

$d-width: 375;
$dc-width: 590;

@mixin landing-page {
  @include animation.mainAnimation;

  .landing_content_scroll {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    p,
    span,
    a {
      // color: var(--color1);
    }

    img {
      width: 100%;
      height: auto;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
    }


    img {
      width: 100%;
      height: auto;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
    }

    .css-firstview {
      height: 100svh;
      display: flex;
      justify-content: center;
      align-items: center;
      scroll-snap-align: start;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
        aspect-ratio: 2/4;
        object-fit: cover;
      }

      .css-text {
        position: absolute;
        font-size: calc(30 *(#{100vw}/ #{$d-width}));
        bottom: calc(20 *(#{100vw}/ #{$d-width}));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; // 縦並び
      }

      .css-arrow-down {
        display: inline-block;
        vertical-align: middle;
        color: #333;
        line-height: 1;
        position: relative;
        width:calc(1 *(#{100vw}/ #{$d-width}));
        height: calc(30 *(#{100vw}/ #{$d-width}));
        background: var(--color2);
      }

      .css-arrow-down::before {
        content: '';
        width: calc(20 *(#{100vw}/ #{$d-width}));
        height: calc(20 *(#{100vw}/ #{$d-width}));
        border: calc(1 *(#{100vw}/ #{$d-width})) solid var(--color2);
        border-top: 0;
        border-right: 0;
        transform: rotate(-45deg);
        transform-origin: bottom left;
        position: absolute;
        left: 50%;
        bottom: calc(-0.5 *(#{100vw}/ #{$d-width}));
        box-sizing: border-box;
      }
    }



    .horizontal-container {
      position: relative;
      scroll-snap-align: start;
      overflow: visible;
      contain: paint;
      z-index: 3;
    }

    .horizontal-container_rapper {
      position: sticky;
      width: 100%;
      height: 100vh;
      top: 0;
    }

    .css-title {
      position: absolute;
      top: 0;
      left: 0;
      font-size: calc(12 *(#{100vw}/ #{$d-width}));
      z-index: 5;
    }

    .css-logo {
      display: none;
    }

    .css-slide_content {
      // position: relative;
      background-color: var(--common-color1);
      position: absolute;
      width: calc(355 *(#{100vw}/ #{$d-width}));
      height: calc(100dvh - 2.6666666667dvh);
      top: calc(10 *(#{100svw}/ #{$d-width}));
      // left: 0;
      // background-color: #000;
      left: 0;
      right: 0;
      margin: auto;
      // padding: calc(10 *(#{100vw}/ #{$d-width})) 0;


      .js-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: absolute;
        width: calc(355 *(#{100vw}/ #{$d-width}));
        // height: 100%;
        aspect-ratio: 355/473.33;
        right: 0;
        // right: 0;
        top: 0;
        // bottom: 0;
        transition: all 1.5s;
        transform-origin: right bottom;
        opacity: 0;

        img {
          width: auto;
          height: 100%;
          object-fit: cover;
        }

        &.js-current {
          opacity: 1;
          transform: scale(1);
        }

        &.js-next {
          // transition: all 0.8s;
          opacity: 1;
          transform: scale(0.18);

          a {
            // pointer-events: none;
          }
        }

        &.js-prev_next {
          opacity: 0;
          transform: scale(0.18);
        }

        &.js-prev {
          opacity: 0;
          transition: all 0.5s;
          // transform: translateX(110%);
          // transform: translateY(-110%);
        }
      }

      .css-credit {
        position: absolute;
        // width: calc(278 *(#{100vw}/ #{$d-width}));
        top: calc(500 *(#{100vw}/ #{$d-width}));
        left: 0;
        transform-origin: left top;
        opacity: 0;
        z-index: -1;

        &.js-active {
          opacity: 1;
          transition: opacity 0.5s;
          z-index: 2;
        }

        .css-credit_link,
        .css-slash {
          @include settings.family-TimesNewRoman;
          font-size: calc(12 *(#{100vw}/ #{$d-width}));
          line-height: calc(15 *(#{100vw}/ #{$d-width}));
          letter-spacing: calc(0/1000) + em;
        }

        .css-slash+.css-credit_link,
        .css-credit_link+.css-slash {
          margin-left: calc(0 *(#{100vw}/ #{$d-width}));
        }
      }

      .css-page_num {
        position: absolute;
        bottom: 0;
        left: 0;
        transform-origin: left bottom;
        color: var(--color2);

        &--count,
        &--max {
          @include settings.family-TimesNewRoman;
          font-size: calc(12 *(#{100vw}/ #{$d-width}));
          line-height: calc(15 *(#{100vw}/ #{$d-width}));
          letter-spacing: calc(0/1000)+em;
        }
      }
    }

    .dummy {
      display: none;
      position: relative;
      height: 1000vw;
      z-index: -1;
      top: 0;
      left: 0;
    }

    .css-footer {
      position: relative;
      scroll-snap-align: start;
      background-color: var(--common-color1);
      z-index: 3;
      padding-top: calc(68 *(#{100vw}/ #{$d-width}));
      padding-bottom: calc(159 *(#{100vw}/ #{$d-width}));
    }

    .css-check_all {
      display: block;
      width: calc(309.66 *(#{100vw}/ #{$d-width}));
      aspect-ratio: 309.66/39.66;
      margin: 0 auto;
    }

    .css-staff_text {


      margin-top: calc(40 *(#{100vw}/ #{$d-width}));

      a {
        display: block;
        margin: 0 auto;
        width: calc(300 *(#{100vw}/ #{$d-width}));
        padding: calc(10 *(#{100vw}/ #{$d-width}));
        background-color: var(--common-color3);
        text-align: center;
        font-size: calc(16 *(#{100vw}/ #{$d-width}));
      }

    }
  }
}