@use "../common/settings";

$d-width: 750;

@mixin mainAnimation {
  .js-fadeIn {
    opacity: 0;

    transition: ease-in, opacity 1s;

    &.css-delay1 {
      transition-delay: 0.5s;
    }



    &--active {
      opacity: 1;
    }
  }

  .js-fadeInLeft {
    opacity: 0;
    transform: translateX(5%);
    transition: ease-in, opacity 1s, transform 1s;

    &--active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .js-zoom {
    opacity: 0;

    transition: ease-in, opacity 1s;

    img {
      transition: ease-in, transform 1s;
      transform: scale(1.1);
    }

    &--active {
      opacity: 1;

      img {
        transform: scale(1.0);
      }
    }
  }


  .js-clip {
    transition: ease-in, clip-path 1s;
    clip-path: polygon(0px 0px, 100% 0px, 100% 0%, 0% 0%);

    &--active {

      clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%);
    }
  }

  .js-width {
    width: 0;

    &--active {
      width: calc(120 *(#{100vw}/ #{$d-width}));
    }
  }

  .js-fadeInTopLeft {
    opacity: 0;
    transform: translateX(10%);
    transition: ease-in, opacity 1s, transform 1s;

    &--active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .js-fadeInTopRight {
    opacity: 0;
    transform: translateX(-10%);
    transition: ease-in, opacity 1s, transform 1s;

    &--active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .js-fadeInBottom {
    opacity: 0;
    transform: translateY(10%);
    transition: ease-in, opacity 1s, transform 1s;

    &--active {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .js-fadeInLeft {
    opacity: 0;
    transform: translateX(10%);
    transition: ease-in, opacity 1s, transform 1s;

    &--active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .js-fadeInRightBottom {
    opacity: 0;
    transform: translateY(10%);
    transition: ease-in, opacity 1s, transform 1s;

    &--active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}