html,
body {
  font-size: 62.5%;
}

body {
  margin: 0;
}

#landing_content {
  overflow: visible;
  contain: paint;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: none !important;
  }
  .s-view {
    display: none !important;
  }
  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  .header.off {
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    transition: 1s;
  }
  .landing_content {
    padding-bottom: 10rem;
    background-color: #fff;
  }
  .landing_content .js-fadeIn {
    opacity: 0;
    transition: ease-in, opacity 1s;
  }
  .landing_content .js-fadeIn.css-delay1 {
    transition-delay: 0.5s;
  }
  .landing_content .js-fadeIn--active {
    opacity: 1;
  }
  .landing_content .js-fadeInLeft {
    opacity: 0;
    transform: translateX(5%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInLeft--active {
    opacity: 1;
    transform: translateX(0);
  }
  .landing_content .js-zoom {
    opacity: 0;
    transition: ease-in, opacity 1s;
  }
  .landing_content .js-zoom img {
    transition: ease-in, transform 1s;
    transform: scale(1.1);
  }
  .landing_content .js-zoom--active {
    opacity: 1;
  }
  .landing_content .js-zoom--active img {
    transform: scale(1);
  }
  .landing_content .js-clip {
    transition: ease-in, clip-path 1s;
    clip-path: polygon(0px 0px, 100% 0px, 100% 0%, 0% 0%);
  }
  .landing_content .js-clip--active {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%);
  }
  .landing_content .js-width {
    width: 0;
  }
  .landing_content .js-width--active {
    width: 10rem;
  }
  .landing_content .js-fadeInTopLeft,
  .landing_content .js-fadeInTopRight {
    opacity: 0;
    transform: translateY(-10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInTopLeft--active,
  .landing_content .js-fadeInTopRight--active {
    opacity: 1;
    transform: translateY(0);
  }
  .landing_content .js-fadeInBottom {
    opacity: 0;
    transform: translateY(10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInBottom--active {
    opacity: 1;
    transform: translateY(0);
  }
  .landing_content .js-fadeInLeft {
    opacity: 0;
    transform: translateX(10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInLeft--active {
    opacity: 1;
    transform: translateX(0);
  }
  .landing_content .js-fadeInRightBottom {
    opacity: 0;
    transform: translateX(-10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInRightBottom--active {
    opacity: 1;
    transform: translateX(0);
  }
  .landing_content__main_visual {
    position: relative;
    width: 100%;
  }
  .landing_content__main_visual .main_swiper {
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 1920/1235;
  }
  .landing_content__main_visual .main_swiper .swiper-slide {
    overflow: hidden;
    position: relative;
  }
  .landing_content__main_visual .main_swiper .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .landing_content__main_visual .main_swiper .css-main_detail {
    position: absolute;
    width: calc(100% * 300 / 1100);
    z-index: 10;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(100% * 100 / 1100);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--category {
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--title {
    font-weight: 400;
    font-size: 2.4rem;
    color: #fff;
    margin-top: 1.6rem;
    height: 6rem;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--text {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    margin-top: 2.6rem;
    height: 8.3rem;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--button {
    margin-top: 1.6rem;
    width: 15rem;
    aspect-ratio: 150/40;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .landing_content__main_visual .main_swiper .css-main_detail--button p {
    font-size: 1.4rem;
    color: #000;
    transition: color 0.3s;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--button:hover {
    background-color: #000;
    opacity: 1;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--button:hover p {
    color: #fff;
  }
  .landing_content__main_visual .swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    margin-top: 2.6rem;
  }
  .landing_content__main_visual .swiper-pagination-bullet {
    display: inline-block;
    opacity: 1;
    width: 0.3rem;
    height: 0.3rem;
    aspect-ratio: 3/3;
    background-color: #000;
    border-radius: unset;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: width 0.3s;
  }
  .landing_content__main_visual .swiper-pagination-bullet:not(:first-of-type) {
    margin-left: 0.6rem;
  }
  .landing_content__main_visual .swiper-pagination-bullet::after {
    display: none;
  }
  .landing_content__main_visual .swiper-pagination-bullet-active {
    border: none;
    opacity: 1;
    width: 3rem;
  }
  .landing_content .css-button {
    display: block;
    border: solid 1px #000;
    width: 24rem;
    aspect-ratio: 240/40;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s;
  }
  .landing_content .css-button p {
    font-size: 1.4rem;
    color: #000;
    transition: color 0.3s;
  }
  .landing_content .css-button:hover {
    background-color: #000;
    opacity: 1;
  }
  .landing_content .css-button:hover p {
    color: #fff;
  }
  .landing_content .css-section {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
  }
  .landing_content .css-section .css-headline--number {
    text-align: center;
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.9rem;
    line-height: 3.65rem;
    letter-spacing: 0.04em;
  }
  .landing_content .css-section .css-headline--title {
    text-align: center;
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.2rem;
    line-height: 7.2rem;
    letter-spacing: 0.01em;
    margin-top: 3rem;
  }
  .landing_content .css-section .css-image {
    position: absolute;
  }
  .landing_content .css-section1 {
    top: calc(-2677 * 100vh / 1000);
    margin-top: 20rem;
    padding-bottom: 10rem;
  }
  .landing_content .css-section1 .css-wrapper {
    margin: 0 auto;
    margin-top: 11.5rem;
    position: relative;
    width: calc(100% * 1660 / 2100);
    aspect-ratio: 1660/2677;
  }
  .landing_content .css-section1 .css-image1 {
    width: calc(100% * 1040 / 1660);
    aspect-ratio: 1040/1300;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    overflow: hidden;
  }
  .landing_content .css-section1 .css-image2 {
    width: calc(100% * 620 / 1660);
    aspect-ratio: 620/775;
    left: calc(100% * 20 / 1660);
    top: 121rem;
    z-index: 2;
  }
  .landing_content .css-section1 .css-image3 {
    width: calc(100% * 800 / 1660);
    aspect-ratio: 800/1000;
    right: calc(100% * -25 / 2100);
    bottom: 5.5rem;
  }
  .landing_content .css-section2 {
    padding-top: 20rem;
    padding-bottom: 15rem;
    top: calc(-2935 * 100vh / 1000);
  }
  .landing_content .css-section2 .css-wrapper {
    margin: 0 auto;
    margin-top: 11.5rem;
    position: relative;
    width: calc(100% * 1710 / 2100);
    aspect-ratio: 1710/2935;
  }
  .landing_content .css-section2 .css-image1 {
    width: calc(100% * 840 / 1710);
    aspect-ratio: 840/1050;
    left: calc(100% * 17 / 2100);
    top: 0;
  }
  .landing_content .css-section2 .css-image2 {
    width: calc(100% * 580 / 1710);
    aspect-ratio: 580/725;
    right: calc(100% * -15 / 1710);
    top: 86.2rem;
    z-index: 2;
  }
  .landing_content .css-section2 .css-image3 {
    width: calc(100% * 960 / 1710);
    aspect-ratio: 960/1200;
    right: calc(100% * 0 / 2100);
    left: calc(100% * 0 / 2100);
    margin: auto;
    bottom: 0rem;
  }
  .landing_content .css-section3 {
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin-bottom: 36rem;
  }
  .landing_content .css-section3 .css-wrapper {
    margin: 0 auto;
    margin-top: 11.5rem;
    position: relative;
    width: calc(100% * 1460 / 2100);
    aspect-ratio: 1460/2820;
  }
  .landing_content .css-section3 .css-image1 {
    width: calc(100% * 1040 / 1460);
    aspect-ratio: 1040/1300;
    left: calc(100% * 0 / 2100);
    right: calc(100% * 0 / 2100);
    margin: auto;
    top: 0;
    overflow: hidden;
  }
  .landing_content .css-section3 .css-image2 {
    width: calc(100% * 640 / 1460);
    aspect-ratio: 640/800;
    right: calc(100% * 0 / 2100);
    top: 153.7rem;
    z-index: 2;
  }
  .landing_content .css-section3 .css-image3 {
    width: calc(100% * 760 / 1460);
    aspect-ratio: 760/950;
    left: calc(100% * 0 / 2100);
    bottom: 0rem;
  }
  .landing_content .css-credit_all {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landing_content .css-credit_all .css-credit_all_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landing_content .css-credit_all .css-credit_all_link--text {
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 2.64rem;
    letter-spacing: 0.04em;
    color: #000;
  }
  .landing_content .css-credit_all .css-credit_all_link--border {
    width: calc(100% * 130 / 201);
    height: 1px;
    background-color: #000;
    margin-top: 1.3rem;
  }
}
@media screen and (max-width: 767px) {
  .l-view {
    display: none !important;
  }
  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
  .landing_content {
    padding-bottom: calc(206 * 100vw / 750);
  }
  .landing_content .js-fadeIn {
    opacity: 0;
    transition: ease-in, opacity 1s;
  }
  .landing_content .js-fadeIn.css-delay1 {
    transition-delay: 0.5s;
  }
  .landing_content .js-fadeIn--active {
    opacity: 1;
  }
  .landing_content .js-fadeInLeft {
    opacity: 0;
    transform: translateX(5%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInLeft--active {
    opacity: 1;
    transform: translateX(0);
  }
  .landing_content .js-zoom {
    opacity: 0;
    transition: ease-in, opacity 1s;
  }
  .landing_content .js-zoom img {
    transition: ease-in, transform 1s;
    transform: scale(1.1);
  }
  .landing_content .js-zoom--active {
    opacity: 1;
  }
  .landing_content .js-zoom--active img {
    transform: scale(1);
  }
  .landing_content .js-clip {
    transition: ease-in, clip-path 1s;
    clip-path: polygon(0px 0px, 100% 0px, 100% 0%, 0% 0%);
  }
  .landing_content .js-clip--active {
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%);
  }
  .landing_content .js-width {
    width: 0;
  }
  .landing_content .js-width--active {
    width: calc(120 * 100vw / 750);
  }
  .landing_content .js-fadeInTopLeft {
    opacity: 0;
    transform: translateX(10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInTopLeft--active {
    opacity: 1;
    transform: translateX(0);
  }
  .landing_content .js-fadeInTopRight {
    opacity: 0;
    transform: translateX(-10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInTopRight--active {
    opacity: 1;
    transform: translateX(0);
  }
  .landing_content .js-fadeInBottom {
    opacity: 0;
    transform: translateY(10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInBottom--active {
    opacity: 1;
    transform: translateY(0);
  }
  .landing_content .js-fadeInLeft {
    opacity: 0;
    transform: translateX(10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInLeft--active {
    opacity: 1;
    transform: translateX(0);
  }
  .landing_content .js-fadeInRightBottom {
    opacity: 0;
    transform: translateY(10%);
    transition: ease-in, opacity 1s, transform 1s;
  }
  .landing_content .js-fadeInRightBottom--active {
    opacity: 1;
    transform: translateY(0);
  }
  .landing_content__main_visual {
    position: relative;
    width: 100%;
  }
  .landing_content__main_visual .main_swiper {
    width: 100%;
    max-height: calc(100svh - 50px);
    aspect-ratio: 375/667;
  }
  .landing_content__main_visual .main_swiper .swiper-slide {
    overflow: hidden;
    position: relative;
    aspect-ratio: 375/667;
  }
  .landing_content__main_visual .main_swiper .swiper-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  .landing_content__main_visual .main_swiper .swiper-wrapper {
    transition-timing-function: linear;
    aspect-ratio: 375/667;
  }
  .landing_content__main_visual .main_swiper .swiper-slide {
    height: auto;
  }
  .landing_content__main_visual .main_swiper .css-main_detail {
    position: absolute;
    width: calc(480 * 100vw / 750);
    z-index: 10;
    top: 0;
    bottom: 0;
    margin: auto;
    left: calc(100% * 100 / 750);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--category {
    font-weight: 500;
    font-size: calc(24 * 100vw / 750);
    color: #fff;
  }
  .landing_content__main_visual .main_swiper .css-main_detail--title {
    font-weight: 400;
    font-size: calc(48 * 100vw / 750);
    color: #fff;
    margin-top: calc(16 * 100vw / 750);
  }
  .landing_content__main_visual .main_swiper .css-main_detail--text {
    font-weight: 400;
    font-size: calc(32 * 100vw / 750);
    color: #fff;
    margin-top: calc(26 * 100vw / 750);
  }
  .landing_content__main_visual .main_swiper .css-main_detail--button {
    margin-top: calc(16 * 100vw / 750);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .landing_content__main_visual .main_swiper .css-main_detail--button p {
    font-size: calc(28 * 100vw / 750);
    color: #000;
    transition: color 0.3s;
  }
  .landing_content__main_visual .swiper-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    margin-top: calc(60 * 100vw / 750);
  }
  .landing_content__main_visual .swiper-pagination-bullet {
    display: inline-block;
    opacity: 1;
    width: calc(6 * 100vw / 750);
    height: calc(6 * 100vw / 750);
    aspect-ratio: 3/3;
    background-color: #000;
    border-radius: unset;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: width 0.3s;
  }
  .landing_content__main_visual .swiper-pagination-bullet:not(:first-of-type) {
    margin-left: calc(6 * 100vw / 750);
  }
  .landing_content__main_visual .swiper-pagination-bullet::after {
    display: none;
  }
  .landing_content__main_visual .swiper-pagination-bullet-active {
    border: none;
    opacity: 1;
    width: calc(60 * 100vw / 750);
  }
  .landing_content .css-button {
    display: block;
    border: solid 1px #000;
    width: calc(480 * 100vw / 750);
    aspect-ratio: 480/80;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s;
  }
  .landing_content .css-button p {
    font-size: calc(28 * 100vw / 750);
    color: #000;
    transition: color 0.3s;
  }
  .landing_content .css-button:hover {
    background-color: #000;
    opacity: 1;
  }
  .landing_content .css-button:hover p {
    color: #fff;
  }
  .landing_content .css-section {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
  }
  .landing_content .css-section .css-headline--number {
    text-align: center;
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(44 * 100vw / 750);
    line-height: calc(36 * 100vw / 750);
    letter-spacing: 0.04em;
  }
  .landing_content .css-section .css-headline--title {
    text-align: center;
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(46 * 100vw / 750);
    line-height: calc(69 * 100vw / 750);
    letter-spacing: 0.01em;
    margin-top: calc(33 * 100vw / 750);
  }
  .landing_content .css-section .css-image {
    position: relative;
  }
  .landing_content .css-section1 {
    top: calc(-2923 * 100vh / 1000);
    margin-top: calc(185 * 100vw / 750);
    padding-bottom: calc(410 * 100vw / 750);
  }
  .landing_content .css-section1 .css-wrapper {
    margin: 0 auto;
    margin-top: calc(75 * 100vw / 750);
    position: relative;
    width: calc(750 * 100vw / 750);
    aspect-ratio: 750/2923;
  }
  .landing_content .css-section1 .css-image1 {
    width: calc(750 * 100vw / 750);
    aspect-ratio: 750/937;
    margin: 0 auto;
    overflow: hidden;
  }
  .landing_content .css-section1 .css-image2 {
    width: calc(580 * 100vw / 750);
    aspect-ratio: 580/725;
    margin-right: auto;
    margin-top: calc(206 * 100vw / 750);
  }
  .landing_content .css-section1 .css-image3 {
    width: calc(750 * 100vw / 750);
    aspect-ratio: 750/937;
    margin-top: calc(119 * 100vw / 750);
  }
  .landing_content .css-section2 {
    top: calc(-2797 * 100vh / 1000);
    padding-top: calc(163 * 100vw / 750);
    padding-bottom: calc(412 * 100vw / 750);
  }
  .landing_content .css-section2 .css-wrapper {
    margin: 0 auto;
    margin-top: calc(0 * 100vw / 750);
    position: relative;
    width: calc(750 * 100vw / 750);
    aspect-ratio: 750/2797;
  }
  .landing_content .css-section2 .css-image1 {
    width: calc(680 * 100vw / 750);
    aspect-ratio: 680/850;
    margin: 0 auto;
    margin-top: calc(81 * 100vw / 750);
  }
  .landing_content .css-section2 .css-image2 {
    width: calc(520 * 100vw / 750);
    aspect-ratio: 520/650;
    margin-left: auto;
    margin-top: calc(240 * 100vw / 750);
  }
  .landing_content .css-section2 .css-image3 {
    width: calc(750 * 100vw / 750);
    aspect-ratio: 750/937;
    margin: 0 auto;
    margin-top: calc(117 * 100vw / 750);
  }
  .landing_content .css-section3 {
    top: calc(-2895 * 100vh / 1000);
    padding-top: calc(163 * 100vw / 750);
    padding-bottom: calc(300 * 100vw / 750);
  }
  .landing_content .css-section3 .css-wrapper {
    margin: 0 auto;
    margin-top: calc(75 * 100vw / 750);
    position: relative;
    width: calc(750 * 100vw / 750);
    aspect-ratio: 750/2895;
  }
  .landing_content .css-section3 .css-image1 {
    width: calc(750 * 100vw / 750);
    aspect-ratio: 750/1125;
    margin: 0 auto;
    overflow: hidden;
  }
  .landing_content .css-section3 .css-image2 {
    width: calc(480 * 100vw / 750);
    aspect-ratio: 480/600;
    margin-top: calc(200 * 100vw / 750);
    right: calc(32 * 100vw / 750);
    margin-left: auto;
  }
  .landing_content .css-section3 .css-image3 {
    width: calc(680 * 100vw / 750);
    aspect-ratio: 680/850;
    margin: 0 auto;
    margin-top: calc(120 * 100vw / 750);
  }
  .landing_content .css-credit_all {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landing_content .css-credit_all .css-credit_all_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landing_content .css-credit_all .css-credit_all_link--text {
    font-family: "apparat-light", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(30 * 100vw / 750);
    line-height: calc(36 * 100vw / 750);
    letter-spacing: 0.04em;
    color: #000;
  }
  .landing_content .css-credit_all .css-credit_all_link--border {
    width: calc(160 * 100vw / 750);
    height: 1px;
    background-color: #000;
    margin-top: calc(26 * 100vw / 750);
  }
}