@use "./settings";
@use '../animation/animation_l' as animation;

$d-width: 1400;

@mixin landing-page {

  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 1%;
  }

  h1 {
    font-size: settings.get_rem(26);
    font-weight: bold;
  }

  h2 {
    font-size: settings.get_rem(22);
    font-weight: bold;
  }

 
}