@use "./settings";
@use '../animation/animation_l' as animation;

$d-width: 1400;

@mixin landing-page {
  .mainVisual {
    width: calc(1200 *(#{100vw}/ #{$d-width}));
    aspect-ratio: 1200/500;
  }
}